
a {
    color: #757575;
    text-decoration: none;

    &:hover {
        color: inherit;
        font-weight: bolder;
        text-decoration: none;
    }

    img:hover ~ h4:hover {
        font-weight: bolder;
        text-decoration: none;
    }
}

@import "custom/welcome";
